body {
	background: navy;
}
div#lutemain1 {
	vertical-align: middle;
	margin-top: -50px;
}
div#lutelines {
	display: inline-block;
	height: 100%;
	cursor: pointer;
	margin-top: 100px;
}

div#vline1 {
	/* Each string is one div tag */
	width: 6px; /* string width */
	background-color: white; /* string color */
	height: 100%; /* Override in-line if you want specific height. */
	float: left;
	margin-left: 30px;
}

div#vline2 {
	width: 6px;
	background-color: white;
	height: 100%;
	float: left;
	margin-left: 30px;
}

div#vline3 {
	width: 6px;
	background-color: white;
	height: 100%;
	float: left;
	cursor: pointer;
	margin-left: 30px;
}

div#vline4 {
	width: 6px;
	background-color: white;
	height: 100%;
	float: left;
	cursor: pointer;
	margin-left: 30px;
}

div#vline5 {
	width: 6px;
	background-color: white;
	height: 100%;
	float: left;
	margin-left: 30px;
	cursor: pointer;
	margin-right: 30px;
}

div#vline1:hover {
	background-color: #803d1d;
}

div#vline2:hover {
	background-color: #803d1d;
}

div#vline3:hover {
	background-color: #803d1d;
}

div#vline4:hover {
	background-color: #803d1d;
}

div#vline5:hover {
	background-color: #803d1d;
}

div#lutecircle {
	width: 280px;
	height: 280px;
	background: #000000;
	border: 8px solid #ffc023;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-top: -530px;
}
